<article class="card mb-2">
  <header class="card-header">
    <div class="card-meta">
      <time class="timeago" datetime="{{ article.fields.published_at }}" title="{{ article.fields.published_at | localize: "%d %B %Y" }}">{{ article.fields.published_at | localize: "%d %B %Y" }}</time>{% comment %} in <a href="#">Journey</a>{% endcomment %}
    </div>
    <a href="{{ article.url | relative_url }}">
      <h4 class="card-title">{{ article.fields.title }}</h4>
    </a>
  </header>
  <a href="{{ article.url | relative_url }}">
    <img class="card-img" src="{{ article.fields.cover.fields.file.url }}" alt="" />
  </a>
  <div class="card-body">
    <p class="card-text">{{ article.fields.excerpt }}</p>
  </div>
</article><!-- /.card -->
