<div class="col-md-3 ml-auto">

  <aside class="sidebar">
    <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title">À propos</h4>
        <p class="card-text">{{ site.description }}</p>
      </div>
    </div><!-- /.card -->
  </aside>

  <aside class="sidebar">
    <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title">Fail Tech</h4>
        <p class="card-text">
          Ce site est labellisé Fail Tech<br>
          <img src="{{ "/img/logo/failtech.svg" | relative_url }}" width="141" height="75" alt="Fail Tech" class="img-fluid" title="Nous avons fait une belle crotte !">
        </p>
      </div>
    </div><!-- /.card -->
  </aside>

  <aside class="sidebar">
    <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title">Publicité</h4>
        <p class="card-text">
          <a href="https://frama.link/dQw4" target="_blank">
            <img src="{{ "/img/aside/accelerateur.png" | relative_url }}" alt="Accelérateurs, candidatez à notre startup !" class="img-fluid" title="Envoyez l'argent SVP">
          </a>
        </p>
      </div>
    </div><!-- /.card -->
  </aside>

  {% comment %}
  <aside class="sidebar sidebar-sticky">
    <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title">Tags</h4>
        <a class="btn btn-light btn-sm mb-1" href="#">Journey</a>
        <a class="btn btn-light btn-sm mb-1" href="#">Work</a>
        <a class="btn btn-light btn-sm mb-1" href="#">Lifestype</a>
        <a class="btn btn-light btn-sm mb-1" href="#">Photography</a>
        <a class="btn btn-light btn-sm mb-1" href="#">Food & Drinks</a>
      </div>
    </div><!-- /.card -->
    <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title">Popular stories</h4>

        <a href="post-image.html" class="d-inline-block">
          <h4 class="h6">The blind man</h4>
          <img class="card-img" src="img/2.jpg" alt="" />
        </a>
        <time class="timeago" datetime="2017-10-03 20:00">3 october 2017</time> in Lifestyle

        <a href="post-image.html" class="d-inline-block mt-3">
          <h4 class="h6">Crying on the news</h4>
          <img class="card-img" src="img/3.jpg" alt="" />
        </a>
        <time class="timeago" datetime="2017-07-16 20:00">16 july 2017</time> in Work

      </div>
    </div><!-- /.card -->
  </aside>
  {% endcomment %}

</div>
