<footer class="site-footer bg-darkest" role="contentinfo">
  <div class="container">
    <div class="copy">
      <a href="mailto:{{ site.email | encode_email }}">Contact</a>
      &copy; Naddymess {{ site.time | date: '%Y' }}<br />
      {{ site.footer }}<br>
      Prends du <em title="Ou pas">fun</em> en allant lire nos <a href="{{ "/mentions-legales" | relative_url }}">mentions légales</a> !<br>
      Prends du <em title="Ou pas">fun</em> en allant lire le <a href="https://github.com/startup-palace/naddymess" target="_blank">code source</a> !
    </div>
  </div>
</footer>
