<header role="banner">
  <nav class="navbar navbar-expand-md navbar-light bg-white absolute-top">
    <div class="container">

      <button class="navbar-toggler order-2 order-md-1" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand mx-auto order-1 order-md-3" href="{{ "/" | relative_url }}">
        <img src="{{ "/img/logo/naddymess.png" | relative_url }}" width="360" height="100" alt="Naddymess">
      </a>

      <div class="collapse navbar-collapse order-4 order-md-4" id="navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/{{ site.facebook.username }}" target="_blank">Facebook</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/{{ site.twitter.username }}" target="_blank">Twitter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/company/{{ site.linkedin.username }}" target="_blank">Linkedin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
