<header role="banner">
  <nav class="navbar navbar-expand-md navbar-light bg-white absolute-top">
    <div class="container">
      <div class="col-8 col-sm-4 col-md-4 col-lg-4 col-xl-3">
        <a class="navbar-brand" href="{{ "/" | relative_url }}">
          <img src="{{ "/img/logo/naddymess.svg" | relative_url }}" width="367" height="100" alt="Naddymess" class="img-fluid">
        </a>
      </div>
      <div class="col-4 offset-sm-4 offset-md-4 offset-lg-4 offset-xl-3">
        <div class="row">
          <div class="col-3 col-lg-2 offset-lg-4">
            <a href="https://www.facebook.com/{{ site.facebook.username }}" target="_blank">
              <img src="{{ "img/fa/facebook-f.svg" | relative_url }}" alt="Facebook" title="Facebook" width="24" height="24" />
            </a>
          </div>
          <div class="col-3 col-lg-2">
            <a href="https://twitter.com/{{ site.twitter.username }}" target="_blank">
              <img src="{{ "img/fa/twitter.svg" | relative_url }}" alt="Twitter" title="Twitter" width="24" height="24" />
            </a>
          </div>
          <div class="col-3 col-lg-2">
            <a href="https://www.linkedin.com/company/{{ site.linkedin.username }}" target="_blank">
              <img src="{{ "img/fa/linkedin-in.svg" | relative_url }}" alt="LinkedIn" title="LinkedIn" width="24" height="24" />
            </a>
          </div>
          <div class="col-3 col-lg-2">
            <a href="{{ "/feed.xml" | relative_url }}">
              <img src="{{ "img/fa/rss.svg" | relative_url }}" alt="RSS" title="RSS" width="24" height="24" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
