---
layout: default
---
<article class="card mb-2">
  <header class="card-header text-center">
    <div class="card-meta">
      <time class="timeago" datetime="{{ page.fields.published_at }}" title="{{ page.fields.published_at | localize: "%d %B %Y" }}">{{ page.fields.published_at | localize: "%d %B %Y" }}</time>{% comment %} in <a href="#">Journey</a>{% endcomment %}
    </div>
    <a href="{{ page.url | relative_url }}">
      <h1 class="card-title">{{ page.fields.title }}</h1>
    </a>
  </header>
  <a href="{{ page.url | relative_url }}">
    <img class="card-img" src="{{ page.fields.cover.fields.file.url }}" alt="" />
  </a>
  {% if page.fields.cover.fields.description %}<p class="font-italic text-right">{{ page.fields.cover.fields.description }}</p>{% endif %}
  <div class="card-body">

    {{ page.content | extlinks }}

  </div>
</article><!-- /.card -->
