<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'fr' }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="main pt-4" role="main">

      <div class="container">

        <div class="row">
          <div class="col-md-9">

            {{ content }}

          </div>

          {% include aside.html %}

        </div>
      </div>

    </main>

    {% include footer.html %}

    <script type="application/javascript" src="/{% if site.data['rev-manifest']['js/naddymess-website.min.js'] %}{{ site.data['rev-manifest']['js/naddymess-website.min.js'] }}{% else %}js/naddymess-website.js{% endif %}"></script>

    <script type="text/javascript">
      var $buoop = {vs:{i:9,f:20,o:17,s:6},reminder:0};
      $buoop.ol = window.onload;
      window.onload=function(){
        try {if ($buoop.ol) $buoop.ol();}catch (e) {}
        var e = document.createElement("script");
        e.setAttribute("type", "text/javascript");
        e.setAttribute("src", "//browser-update.org/update.js");
        document.body.appendChild(e);
      }
    </script>

    <script>
      document.addEventListener('DOMContentLoaded', function(event) {
        cookieChoices.showCookieConsentBar('En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de Cookies pour réaliser des statistiques de visites anonymes.', '×', 'En savoir plus', 'http://www.cnil.fr/vos-droits/vos-traces/les-cookies/');
      });

      window['ga-disable-GA_TRACKING_ID'] = true;
      if (document.cookie.match(new RegExp('displayCookieConsent=([^;]+)'))) {
        window['ga-disable-GA_TRACKING_ID'] = false;
      }
    </script>
    {% if site.ga %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_tracker }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.ga_tracker }}');
    </script>
    {% endif %}

  </body>

</html>
