$naddymess: #00cdb6;
$blue: $naddymess;

$font-family-sans-serif: 'Lato','PT Sans Caption', sans-serif;
$font-family-serif: 'Playfair Display', serif;
$headings-font-family: $font-family-serif;

$font-size-base: 1rem;
$grid-gutter-width: 10px;
