---
layout: default
pagination:
  enabled: true
  collection: articles
  sort_field: 'fields:published_at'
  sort_reverse: true
  per_page: 8
  trail:
    before: 2
    after: 2
---

<div class="row">

  {% for article in paginator.posts %}
    {% if forloop.index0 == 0 %}
    <div class="col-md-12">
      {% include article_preview.html article=article %}
    </div>
    {% else %}
    <div class="col-md-6">
      {% include article_preview.html article=article %}
    </div>
    {% endif %}
  {% endfor %}

</div>
